@import url("/app/src/static/css/fonts.css");
* {
    scroll-behavior: smooth !important;
    font-family: 'HelveticaNeue';
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
}



/* Latest changes */
.container {
    padding: 0;
}

.menu-btn {
    display: none;
}

.index-demo-mobile {
    display: none;
}

.container-fluid {
    padding: 0 !important;
}

.index-demo {
    outline: none;
    margin-top: 40px;
}

.navbar {
    border-bottom: 1px solid #DFDFDF;
    transition: 0.5s;
}

nav {
    position: sticky !important;
    top: 0;
    z-index: 11;
    background-color: #fff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-right: 136px;
    display: flex;
    align-items: center;
}

.navbar-right a {
    margin-right: 33px;
    font-size: 16px;
    color: #000;
    transition: 0.2s;
    text-decoration: none;
}

.navbar-right a:hover {
    color: #7631A8;
}

.navbar-brand img {
    margin-left: 97px;
	display: inline-block;
    margin-top: -5px;
    white-space: nowrap;
}

.concord-logo-text {
    font-size: 35px;
    font-family: "Californian FB", AppleMyungjo;
    margin-left: 17px;
    margin-top: 10px;
}

.early-access-btn {
    color: #fff;
    background-color: #7631A8;
    border: 1px solid #7631A8;
}

.early-access-btn:hover {
    color: #7631A8;
    background-color: #fff;
    border: 1px solid #7631A8;
}

.main-h1 {
    font-size: 80px;
    margin-top: 85px;
    line-height: 90px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.what-is-it {
    color: #786586;
    font-size: 30px;
    margin-top: 16px;
    line-height: 50px;
}

.get-early-access {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.get-early-access input {
    padding: 14px;
    padding-right: 60px;
    border: 1px solid #7631A8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.get-early-access button {
    background-color: #7631A8;
    color: #fff;
    padding: 14px 20px 14px 20px;
    margin-left: -8px;
    border: 1px solid #7631A8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
}

.get-early-access button:hover {
    border: 1px solid #7631A8;
    color: #7631A8;
    background-color: #fff;
}

.under-form {
    opacity: 0.54;
    font-size: 14px;
    margin-top: 5px;
}

.video-container {
    margin-top: 75px;
    background-color: #FAF1FF;
    margin-bottom: -16px;
}

.video-heading {
    font-size: 60px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    padding-top: 114px;
}

.under-video-heading {
    font-size: 30px;
    line-height: 50px;
    margin-top: 13px;
    color: #786586;
}

.under-video-mark {
    margin-top: 21px;
    padding-bottom: 15px;
    opacity: 0.54;
}

.common-heading {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 60px;
}

.common-under-heading {
    color: #786586;
    font-size: 30px;
    line-height: 50px;
}

.ad-free {
    background-color: #F4E4FF;
    margin: 0;
}

.ad-free-heading {
   padding-top: 43px;
}

.ad-free-p {
    margin-top: 11px;
    line-height: 35px;
    padding-bottom: 27px;
}

.bottom-block-heading {
    margin-top: 56px;
}

.bottom-block-p {
    font-size: 28px;
    line-height: 40px;
}

.bottom-block-links {
    margin-top: 139px;
    margin-bottom: 50px;
}

.bottom-block-links a {
    color: #7631A8;
    transition: 0.5s;
    text-decoration: none;
}

.bottom-block-links a:hover {
    color: #fff;
}

.journalism-bottom,
.vision-bottom {
    background-color: #FAF1FF;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px 25px;
    border-radius: 20px;
}

.vision-bottom {
    margin-top: 20px;
}

.journalism-bottom:hover,
.vision-bottom:hover {
    background-color: #7631A8;
}

.footer-block {
    padding: 34px 0 52px 0;
    background-color: #F0F0F0;
    font-size: 18px;
    line-height: 21px;
}

.footer-block a {
    opacity: 0.84;
    color: #7631A8;
    text-decoration: underline;
    font-size: 18px;
}

.footer-links {
    opacity: 0.84;
}

.journalism-h1 {
    margin-bottom: 55px;
}

.news-header {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    margin: 5% 15.5% 0 15.5%;
}

.news-p {
    font-family: 'Zilla Slab', serif;
    text-align: left;
    margin: 1% 15.5%;
    font-size: 25px;
    font-weight: 500;
    opacity: 0.64;
}

.purp-bg {
    background-color: #F4E4FF;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    font-size: 32px;
    padding: 0 5px 0 5px;
}

.purp-bg-2 {
    background-color: #F4E4FF;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.two-column-news {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    border-bottom: 3px solid #7631A8;
    padding-bottom: 30px;
    width: 800px;
}

.two-column-news p {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    text-align: left;
}

.journalism-article {
    font-size: 20px;
    margin-top: 28.5px;
    margin-bottom: 131px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 856px;
    padding-bottom: 25px;
}

.article-h2 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 48px;
    font-weight: medium;
    line-height: 57px;
    padding-top: 29px;
}

.article-quote {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
}

.article-text {
    text-align: left;
    margin: 10px 10px 5px 35px;
}

.article-text p {
    margin-top: 25px;
}

.article-heading {
    font-weight: bold;
}

.credible {
    margin-left: 15px;
    font-style: italic;
    font-size: 25px;
    opacity: 0.74;
}

.read-more {
    color: #7631A8;
    transition: 0.2s;
}

.read-more:hover {
    color: #694c7c;
    cursor: pointer;
}

.manifesto-section {
    width: 900px;
    border: 5px solid #7631A8;
    margin-top: 98px;
    margin-bottom: 60px;
}

.vision-h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.manifesto-text h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 45px;
}

.manifesto-text p {
    text-align: left;
    font-size: 18px;
}

.manifesto-text {
    text-align: left;
    margin-right: 78px;
    margin-left: 52px;
}

.mobile-menu {
    display: none;
}

.hide-section {
    display: none;
}

/* Burger Menu */


@media (min-width:576px) {
    
}

@media (max-width: 576px) {
    .main-h1 {
        font-size: 36px;
        margin-top: 113px;
        line-height: 43px;
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    }

    .what-is-it {
        color: #786586;
        font-size: 16px;
        margin-top: 16px;
        line-height: 21px;
    }

    .get-early-access input {
        padding: 14px;
        font-size: 12px;
        width: 150px;
        border: 1px solid #7631A8;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
    }

    .get-early-access button {
        font-size: 12px;
    }

    .video-heading {
        font-size: 30px;
        line-height: 38px;
    }

    .under-video-heading {
        font-size: 16px;
        line-height: 21px;
    }

    .under-form {
        font-size: 12px;
    }

    .under-video-mark {
        margin-top: 26px;
        padding-bottom: 56px;
        opacity: 0.54;
        font-size: 14px;
        line-height: 16px;
    }

    .add-free-heading,
    .common-heading {
        font-size: 32px;
        line-height: 38px;
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    }

    .common-under-heading {
        font-size: 16px;
        line-height: 21px;
    }

    .news-header {
        margin: 0 15px;
        font-size: 20px;
    }

    .purp-bg {
        font-size: 20px;
    }

    .news-p {
        font-family: 'Zilla Slab', serif;
        text-align: left;
        margin: 10px 15px 35px;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.64;
    }

    .two-column-news {
        display: none;
    }

    .journalism-article {
        width: 318px;
    }

    .article-text {
        text-align: left;
        margin: 10px 10px 5px 20px;
        font-size: 16px;
    }

    .article-quote {
        font-size: 12px;
    }

    .article-heading {
        font-size: 18px;
    }

    .article-h2 {
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        font-size: 28px;
        font-weight: medium;
        line-height: 33px;
        padding-top: 29px;
    }

    .credible {
        margin-left: 15px;
        font-style: italic;
        font-size: 18px;
        line-height: 26px;
        opacity: 0.74;
    }

    .manifesto-section {
        width: 360px;
    }

    .vision-h1 {
        font-size: 28px;
        line-height: 33px;
    }

    .manifesto-text h3 {
        font-size: 18px;
        margin: 35px 0 10px 0;
    }

    .manifesto-text p {
        font-size: 16px;
    }

    .index-demo {
        display: none;
    }

    .index-demo-mobile {
        display: block !important;
    }

    .navbar-right {
        display: none !important;
    }

    .for-purp {
        border-bottom: 3px solid #7631A8;
        margin: 0 auto;
        width: 319px;
    }

    .navbar-brand img {
        margin: 0 auto;
    }

    .concord-logo-text {
        margin-left: 3px;
		margin-bottom: 10px;
    }

    .manifesto-text {
        text-align: left;
        margin-right: 16px;
        margin-left: 23px;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger {
        width: 40px;
        height: 5px;
        background: #7631A8;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        background: #7631A8;
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger::before {
        transform: translateY(-16px);
        margin-top: 5px;
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
        margin-top: -5px;
    }
    /* Menu Animation */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(28px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(29px, 35px);
    } 

    .mobile-menu {
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: #FAF1FF;
        display: none;
        transition: 0.5s;
        position: sticky;
        top: 74px;
    }

    .mobile-menu.active {
        display: block;
    }

    .mobile-list {
        list-style: none;
        height: 100vh;
        transition: all .5s ease-in-out;
    }

    .mobile-list li {
        padding-top: 10px;
        font-size: 18px;
    }

    .mobile-list li a {
        color: #000;
    }

    .navbar {
        height: 80px;
    }

    .concord-logo-text {
        font-size: 24px;
        margin-left: 10px;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
}
